* {
  font-family: var(--fonte-principal);
  font-size: 16px;
}

:root {
  --fonte-principal: 'Roboto', sans-serif;
  --cor-principal: #151515;
  --background-navbar: #242424;
  --background-header: #000000;
  --cor-secundaria: #cccccc;
}

h3 {
  padding-bottom: 1rem;
  line-height: 18.75px;
  font-weight: 700;
  color: #eeeeee;
}

section {
  padding: 2rem 24px;
  border-bottom: 1px solid #262626;
}

.perfil {
  display: flex;
  line-height: 18.75px;
}

.container-esquerdo,
.container-direito {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
}

.container-esquerdo {
  font-weight: 700;
  color: #ffffff;
}

.container-direito {
  font-weight: 400;
  color: var(--cor-secundaria);
}

.recompensa-progresso img {
  width: 3rem;
}

.progresso-icones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
}

.icone-ativo,
.icone-inativo {
  width: .5rem;
}

.icone-inativo {
  opacity: 20%;
}

.recompensas-ativas img {
  width: 30px;
}

.recompensas-ativas p {
  color: #cccccc;
}

.recompensas-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recompensa {
  display: flex;
  justify-content: space-between;
}

.recompensa-info {
  width: 60%;
  display: flex;
  align-items: center;
  gap: .7rem;
}

.recompensa button {
  font-weight: 400;
  padding: 8px 12px;
  color: #dddddd;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.recompensa button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#visto-recentemente {
  padding: 2rem 0 1rem 0;
}

#visto-recentemente h3 {
  padding-left: 24px;
}

#visto-recentemente img {
  height: 324px;
}

.detalhes {
  display: flex;
}

.detalhes h3,
.detalhes-links {
  width: 50%;
}

.detalhes-links {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.detalhes-links a {
  color: #0c8ce9;
}

.detalhes-links a:last-child {
  color: #e84a4a;
  padding-bottom: 3.5rem;
}