:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cor-principal: rgba(21, 21, 21, 1);
    --background-footer: #242424;
    --background-header: rgba(0, 0, 0, 1);
}

header {
    background-color: var(--background-header);
    display: flex;
    width: 375px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

header p{
    font-family: var(--fonte-principal);
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

h1{
    font-family: var(--fonte-principal);
    color: #eeee;
    font-size: 1.5em ;
    padding: 1em;
}
.todos_filmes{
    font-family: var(--fonte-principal);
    color: #eeee;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
}
.todos_filmes::-webkit-scrollbar{
    width: 0;
}

.filmes img{
    border-radius: 10px;
}
