:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cor-principal: rgba(21, 21, 21, 1);
    --background-navbar: #242424;
    --background-header: rgba(0, 0, 0, 1);
}

header {
    background-color: var(--background-header);
    display: flex;
    width: 375px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 110px;
    position: fixed
}

header p {
    font-family: var(--fonte-principal);
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

h1 {
    font-family: var(--fonte-principal);
    color: #eeee;
    font-size: 1.5em;
    padding: 1.5em;
}
h2 {
    padding: 0.7em;
}


.todos_filmes {
    font-family: var(--fonte-principal);
    color: #eeee;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
}

.todos_filmes::-webkit-scrollbar {
    width: 0;
}

.filmes img {
    border-radius: 10px;
}

.texto_filme{
    margin-left: 10px;
    font-size: 12px;

}

.saiba_mais{
    cursor: pointer;
    border: none;
    background: transparent;
    font-family: var(--fonte-principal);
    color: #FFF

}

.saiba_mais:hover{
        color: blue;

}

.sinopse_filme::backdrop{
background-color: rgb(0 0 0/.5);
}
 .sinopse_filme{
    border:none;
    border-radius: .5rem;
    box-shadow: 0 0 0 1em rgb (0 0 0/.3);
    width: 70%;
 }
 .sair{
    margin-top: 20px;
    cursor: pointer;
 }


.navbar-inferior {
    position: fixed;
    bottom: 0;
    width: 375px;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-navbar);
}

.navbar-item {
    display: flex;
    gap: .1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: .6rem;
    letter-spacing: 0.4px;
    opacity: 45%;
    cursor: pointer;
}

.navbar-item:active,
.navbar-item:hover {
    opacity: 100%;
}

.navbar-item a {
    text-decoration: none;
    color: #eeeeee;
}

.navbar-item img {
    width: 24px;
}

.navbar-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
}